
@import 'typography.css';

html body {
  overflow-x: hidden;
}

body{

  background: linear-gradient(180deg, #120752 0%, #120752 14.09%, #0B0431 28.53%, #0B0431 44.79%, #10064F 68.09%, #092878 80.38%, #166181 100%);
padding:5%;
padding-bottom: 0;
margin: 0;
    position: relative;
    height: 100%;
}

.flex {
  display:flex;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#flex-bot {
  overflow: hidden;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position:relative;
  top:22vh;
  width: 100%;
  opacity: 0;;
}


img {
max-width: 20%;
min-width: 10%;
height: auto;
}

.legend {
  cursor: pointer;
}

.flex-item {
flex:50%

}

#men-text {
  opacity: 0;
}

@media (max-width: 850px) {
  .flex-container {
    flex-direction: column;
  }
}


#container {

display: flex;
justify-content: space-between;
flex-direction: row;
}

#footer {
  margin-top:40vh;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
#graphe-5 {
  position: relative;
}

#graphe-4 {
  position: relative;
}

#graphe-2 {
  padding: 22%;
margin-bottom: 10%;
  position:relative;
}

#moon-text {
  margin-left: 8%;
  opacity: 0;
}

#graphe-1 {
  flex-direction: row-reverse;
margin-top: 10%;
margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.scroll-action {
  opacity: 0.2;
}

#myText {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

#sun {
  margin-top:auto;
}

@media (max-width: 850px) {
  #container {
    flex-direction: column;
  }

  .flex-item {
    flex: 100%;
  }
.cloud {

  transform: scale(0.3);
}
#graphe-2 {
  margin-bottom: 4%;
  margin-top: 4%;
}

#graphe-1 {
  flex-direction: column-reverse;
}

#data {
  justify-content: flex-end;
}

#flex-bot {
  flex-direction: column;
}

#flex-bot  div{
  justify-content: center;
  padding:3%
}
body {
  padding:10%;
}

#graphe-7 {
  margin-top: 20%;
}

}

@media (min-width: 1400px) {
  body {
    padding: 15%;
    padding-bottom: 0%;
    padding-top: 0%;
  }
}




/*
svg
*/

.cls-1{fill:rgba(61,64,134,.8);}
.cls-2{fill:rgba(43,48,117,.8);}
.cls-3{fill:#bdccd8;
}
.cls-4{fill:rgba(60,63,133,.8);}
.dls-1{fill:#e66800;}
.dls-2{fill:#ff151c;}
.dls-3{fill:rgba(61,64,134,.8);}
.dls-4{fill:rgba(43,48,117,.8);}
.dls-5{fill:#bdccd8;}
.dls-6{fill:rgba(60,63,133,.8);}




.moon-container {
  transform: rotate(33deg);
}

#header {
  margin: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

#second-title {
  text-align: center;
  margin-bottom: 10%;
}
#main-title {
margin:0;
text-align: center;
}



#clouds {
  position: absolute;
  left: 0vw;
  visibility: hidden;
}


#clouds-bot {
  overflow: hidden;
  position: absolute;
  left: 0vw;
  visibility: hidden;
  bottom:0;
  width: 100%;
  height: 70vh;
}

.cloud {
  position: absolute;
}

.svgCloudBot {

  fill: rgba(255, 255, 255, 0.66);
  fill-opacity: .66;
  
}
#sun circle {

  fill: #D37B13;
  filter: blur(6.5px);
}


.svgCloud {

  fill: #535BA5;
  fill-opacity: .66;
  
}


#path-firstCloud {
  transform: scale(0.3,0.3);
}


.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to { opacity: 1 }
}

