* {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    margin:0;
  }
  
.tooltip {
    color: black;

}

  h1 {
    font-size: 2rem;
  }
  

  h2 {
    color: #BCC3FF;
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 2.5rem;
  }
  
  h5 {
    font-size: 2rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }


  
  @media (max-width: 900px) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 0.8rem;
    }

  }
