.cloud {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    fill: #535BA5;
    fill-opacity: .66;
  }
  
  @keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:1200px; top:0px;}
  }
